body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 28px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  font-size: 20px;
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

div.main {
  display: flex;
}

.row {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.row div:first-child {
  font-style: italic;
}

.row:nth-child(3),
.row:nth-child(4) {
  align-items: center;
  justify-content: center;
}

section {
  width: 200px;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}

section.light {
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
